.input-section{
    width: 300px;
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    &__label{
        font-size: 13px;
    }
    &__input{
        padding: 0.5rem;
        &:focus{
            outline: none;
        }
        &[type=date]{
            font-family: 'Geologica', sans-serif;
            font-size: 11px;
        }
    }
    &__error{
        font-size: 10px;
        color: #ff0000;
    }
}

.invalid{
    border: 1px solid #ff0000;
}
