.form{
    &__input{
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        &__label{
            font-size: 13px;
        }
    }
}

input{
    padding: 0.5rem;
    border: 2px solid #000;
}
input:focus{
    outline: none;
    border: 2px solid #2574e3;
}