.form{
    width: fit-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid #000;
    &__input{
        display: flex;
        flex-direction: column;
    }
    &__button{
        padding: 0.5rem;
        background-color: #fff;
        color: #000;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            color: #fff;
            background-color: #000;
        }
    }
}

input{
    padding: 0.5rem;
}
input:focus{
    outline: none;
}