.login-form{
    width: fit-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid #000;
    &__header{
        font-size: 24px;
        font-weight: 400;
    }
    &__button{
        padding: 0.5rem;
        background-color: #fff;
        color: #000;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            color: #fff;
            background-color: #000;
        }
    }
    &__register{
        font-size: 12px;
        &__span{
            color: #0976bb;
            cursor: pointer;
        }
    }
}